<p id="notice"><%= notice %></p>

<p>
  <b>Score:</b>
  <%= @round.score %>
</p>

<p>
  <b>Date:</b>
  <%= @round.date %>
</p>

<p>
  <b>Course:</b>
 
</p>


<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
